/* Some styles.

.navbar li a.scms-marker {
  padding-left: 0;
  padding-right: 0;
}

*/


/* Navigation from: http://kmturley.blogspot.com/2014/06/responsive-mobile-dropdown-navigation.html */

#header {
    width: 100%;
    max-width:100%!important;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000;
}

.navigation {
    margin: auto;
    overflow: hidden;
    background-color: #000;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;;
    background-color: #000;
}

.navigation .btn .menu {
    display: none;
}

.navigation .btn:hover .menu {
    display: block;
}

.navigation li a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #4a4a4a;
}

.navigation .logo {
    float: left;
}

/*
.navigation .logo a {
    font-size: larger;
    padding: 10px 20px;
}
*/

.navigation .btn-link {
    float: right;
    padding: 18px 30px;
}

.navigation .menu {
    clear: both;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .navigation li {
        float: left;
    }
    .navigation li a {
        padding: 20px 30px;
    }
    .navigation .btn .menu {
        display: block;
    }
    .navigation .btn-link {
        display: none;
    }
}

/* container */

.container .row {
    overflow: hidden;
    margin: auto;
    max-width: 1400px;
}

.container .row a {
    position: relative;
    float: left;
    width: 100%;
}

.container .row a img {
    width: 100%;
    display: block;
}

.container .row a span {
    color: #000;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 2em;
    text-shadow: 1px 1px 0 #fff;
}

.container .row-split a span {
    display: none;
}

.container .row-split a:hover span {
    display: block;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .container .row-split a {
        width: 50%;
    }
}

