/* Responsive style adapted from asciidoctor-default */

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic";

body {
    margin:0;
}

body, .markdown-body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.markdown-body h1, .markdown-body h2 {
    border: 0;
}

header, main, footer {
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    max-width:62.5em;
    position:relative;
    padding-left:.9375em;
    padding-right:.9375em
}

footer {
    max-width:100%;
    background-color:rgba(0,0,0,.8);
    padding:1.25em;
    color:rgba(255,255,255,.8);
    line-height:1.44;
    text-align:right;
}

#toc {
    border: 1px solid #e0e0dc;
    border-radius: 5px;
    background-color: #f8f8f7;
}

#toctitle {
    padding-top: 14px;
    margin-bottom: -8px;
    text-align:center;
}

/* Navigation adapted from: http://kmturley.blogspot.com/2014/06/responsive-mobile-dropdown-navigation.html */

header {
    width: 100%;
    max-width:100%!important;
    margin:0;
    background-color:#f8f8f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid #e0e0dc;
    margin-bottom:20px;
}

.navigation {
    margin: auto;
    max-width:62.5em;
    overflow: hidden;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.navigation .btn .menu {
    display: none;
}

.navigation .btn:hover .menu {
    display: block;
}

.navigation li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #fbfbfb;
}

.navigation .logo {
    float: left;
    border:none;
}

.navigation li {
    border-top:1px solid #e0e0dc;
}

.navigation .btn-link {
    float: right;
    padding: 10px;
}

.navigation .menu {
    clear: both;
}

main {
    overflow:hidden;
}

#toc {
    float:none;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .navigation li {
        float: left;
	border:none;
    }
    .navigation li a {
        padding: 10px;
    }
    .navigation .btn .menu {
        display: block;
    }
    .navigation .btn-link {
        display: none;
    }

    #toc {
	float:right;
	margin-left:20px;
    }
}


/* flex for short pages */

body {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

